
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
  

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
}


header nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

header nav button{

    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;

}

.banner {
  background: url(../assets/hero-bg.png);
  min-height: 600px;  
  max-height: 600px;        
  display: flex;
  flex-direction: column;     
  justify-content: center;  
  align-items: center;        
  text-align: center;
  
  
}

.banner h4{
    color: #469165;
    background-color: #FFFFFF;
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px 12px;

}

.banner h1{
    max-width: 770px;
   
    font-size: 72px;
    color: #FFFFFF;
}



.banner p{
    line-height: 24px;
    max-width: 700px;
    margin-top: 16px;
    margin-bottom: 32px;
    font-size:18px;
    color: #FFFFFF;
}

.btn{
    max-height: 52px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    height: 100px;
    justify-content: space-around;
    padding: 1px 16px;
    background-color: #469165;
    border: none;
    gap: 10px;

}

.btn1{
     display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    height: 100px;
    justify-content: space-around;
    padding: 1px 16px;
    background-color:transparent;
    border: 2px solid white;
    max-height: 52px;
    gap: 10px;
}

.butn{
    display: flex;
    gap: 10px;

}

.note-section{
    background-color: #f9f4f4;
   
    
}

.note-head{
    text-align: center;
}

.note-head h2{
    font-size: 48px;
    font-weight: 800;
    color: #001931;
    padding-top: 44px;
    
}

.note-head p{
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    margin-top: 16px;
}
.note-card{
    display: flex;
    justify-content: space-around;
    padding-top: 44px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
}

.card{
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 10 px 0 10px 0;

}

.card img{
    margin-top: 70px;
    margin-bottom: 16px;
    background-color: #F95555;
    padding: 10px;
    border-radius: 100%;
}


.card h4{
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  
}

.card p{
   
  min-height: 40px;
  font-size: 16px;
  margin-top: 16px;
  color: #627382;
}



.brain-section{
    display: flex;
    padding: 120px;
}


.brain-contect{
    
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    text-align: left;
}

.brain-contect h4{
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color:#469165;
    margin-bottom: 16px;

}

.brain-contect h2{
   
    font-size: 48px;
    font-weight: 800;
    color:#001931;
    margin-bottom: 16px;
    




}





.brain-contect p{
    line-height: 20px;
    font-size: 16px;
    
    color:#627382;
    margin-bottom: 40px;

}

.icon-list {
  list-style: none;
  padding: 0;
}


.icon-list li{
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #001931;
  
}

.access{
    width: 1300px;
    height: 350px;
    border-radius: 12px;
    background-color: #F7F6F2;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}


.access h2{
    font-size: 40px;
    color: #001931;
    font-weight: 700;
    margin-bottom: 16px;


}

.access p{
    max-width: 600px;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;


}

.footer {
  min-height: 320px;
  background: #001931;
  
  padding: 120px 120px 120px 80px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right h4 {
  color: #fff;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 14px;
}




.footer-bottom {
  color: #FAFAFA;
  margin-top: 120px;
  padding-top: 30px;
  border-top: 1px solid rgba(255,255,255,0.2);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  
}

















